
.About-body {
    height: 100vh;
    background-image: url(../../Red_GrungeBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: absolute;
    padding-top: 10%;
    padding-bottom: 10%;
}
  
.About-text-container {
    color: white;
    background-color: blue;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border-radius: 20px;
    border-color: rebeccapurple;
    border: solid 2px;
}