.project-card {
  background-color: skyblue;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.accordion {
  position: relative;
}

.accordion p {
  position: absolute;
  top: 10px;
  left: 16px;
  color: white;
  font-weight: bold;
}

.project-card__image {
  bottom: 0;
  width: 100%;
  transition: transform 0.6s ease;
}

/* .project-card__image:hover,
.project-card__image:active {
  transform: scale(1.2);
  object-fit: contain;
} */

.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  margin: 0px 15px;
  padding: 5px 0px;
  font-size: 16px;
}

.accordion__icon {
  transition: transform 0.6s ease;
  position: absolute;
  bottom: 10px;
  right: 16px;
}

.rotate {
  transform: rotate(90deg);
}
