.skills {
  min-height: 100%;
  background-image: url(./Yellow_GrungeBG.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.skills__main-container {
  padding: 10% 10%;
  font-size: 20px;
}

.skills__sub-container {
  padding: 5% 5%;
  color: white;
  background: red;
  border: 5px lightcoral solid;
  border-radius: 20px;
}

.skills__sub-container button {
  margin-bottom: 35px;
  font-size: 1rem;
  background-color: yellow;
  color: black;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.skills__sub-container button:focus {
    outline: none;
}

.skills__sub-container button:hover {
  font-size: 1rem;
  background-color: gold;
  color: black;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.skills__sub-container button:active {
  font-size: 1rem;
  background-color: goldenrod;
  color: black;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.skills__skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__skills-container i {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  font-size: 4rem;
}

.skills__skills-container ul {
  list-style: none;
  padding: 0;
}

.skills__skills-container li {
    padding-bottom: 10px;
}

.skills__skills-container i:hover,
.skills__skills-container i:active {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 4rem;
  color: yellow;
}

.skills__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.svg {
    width: 64px;
    padding: 0 25px 25px;
}

@media (max-width: 768px) {
  .skills__main-container {
    padding: 25% 10%;
    font-size: 16px;
  }
}
