body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.App {
  text-align: center;
}

.Header-body {
  height: 100%;
}

.Header-text-container {
  color: white;
  height: 100vh;
  font-family: 'Rock Salt', cursive;
}

.Header-test {
  padding-top: 20%;
}

.Header-download {
  padding-top: 25px;
}

.NavBar-Logo {
  width: 40px;
}