body {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.Header-body {
  height: 100vh
}

.Header-text-container {
  color: white;
  font-size: 400%;
  height: 100vh;
}

.Header-test {
  padding-top: 10vh;
}

.About-body {
  background-image: url(./Yellow_GrungeBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.About-text-container {
  color: red;
  background-color: purple;
  margin-left: 15%;
  margin-right: 15%;
}